body{
  margin: 0px;
  
  background-color:black;
}
#bot2{
  position: relative;
  width:100%;
  height:100px;
  color:rgb(53, 208, 53);
  z-index: 2;

 
}
#bot3{
  position: relative;
  width:100%;
  height:250px;
  color:rgb(53, 208, 53);
  z-index: 2;
}
#bot{
  position: fixed;
  left: auto;
  top: auto;
  width: 350px;
  height: 600px;
  right: 40px;
  bottom: 40px;
  z-index: 1;
  background-color: rgb(59, 54, 54);
  border-radius: 10px;
  overflow-y: scroll;
}

.invisible{
  visibility:hidden;
}
.logo{
  max-width: 100%;
  height: auto;
}
 h1{
  margin: 0px;
  padding: 0px;
 }
 h3{
  margin:0px;
  padding: 0px;
 }
 span{
  font-weight: bold;
 }
.about{
  color:#FFFFFF;
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  display: flex;
  flex-flow:column wrap;
  -webkit-box-pack:start;
  justify-content:start;
  -webkit-box-align:start;
  align-items:start;
}
.section{
  padding-top: 7%;
  padding-bottom:7%;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  
}
.rights{
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color:white;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  line-height: 1.5;
  padding-top: 1%;
  padding-bottom:1%;
}
.aboutmesection{
 
  margin: 0;
  position: relative;
  padding: 30px 30px;
  display: flex;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(217, 217, 217);
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  top:70%;
  background-color:#050303;
  line-height: 1.5;
}
.picture{
  background-color:black;
  position:relative;
  display: flex;
  
 
}
.primalinie{
  display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    max-width: 1024px;
}
.adoualinie{
  display:flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.dotari{
  width:300px;
  height:300px;
  margin-left:10px;
  margin-right: 10px;
  margin-bottom: 30px;
  border:none;
  position: relative;
    display: inline-block;
    border-radius: 10px;
    text-align: center !important;
  display:inline-block;
  background-color:rgb(16 16 18);
  
  overflow: hidden;
  --c: rgb(22, 23, 27);
  line-height: 1.2em;
  background-image:
    conic-gradient(from -135deg at 100%  50%, var(--c) 90deg, #0000 0),
    conic-gradient(from -0deg at 0% 0%, #0000 90deg, var(--c) 0);
  background-position:
    0 100%,
    0 0;
  background-size: 0% 200%;
  background-repeat: no-repeat;
  transition: background-size 1s, background-position 0s;
}
.dotari:hover{
  background-size: 100% 200%;
  background-position:
    0 100%,
    100% 100%;
}
.triunghi{
  width: 12px;
  height: 0px;
  left:-12px;
  border-top: 70px solid rgb(22, 23, 27);
  border-right: 70px solid transparent;
  position: absolute;
  border-radius: 10px 0px 0px;
}
.tiunghi:hover{
  border-top: 300px solid rgb(22, 23, 27);
  border-right: 300px solid transparent;
  
}
.text{
  position:absolute;
  color:white;
  
  
  margin-top: 180px;
  font-size: 20px;
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.text2{
  position:absolute;
  color:white;
  display:flex;
  padding-left:30%;
  margin-top: 180px;
  font-size: 20px;
  font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
.react{
  height:100px;
  position:relative;
 margin:65px 65px 0;
}
.boot{
  height:120px;
  position:relative;
 margin:65px 65px 0;
}
.k{
  height:110px;
  position:relative;
  margin:65px 65px 0;
  padding:0px;
  
}
.buttons{
  position:sticky;
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: end;
  justify-content:end;
  -webkit-box-align: end;
  align-items: end;
  padding-top: 1%;
}
.home-button
      {
          background-color: black;
          color: white;
          height: 36px;
          border-color: white;
          width: 105px;
          border-radius: 30px;
          cursor: pointer;
          margin-right: 8px;
          transition: opacity 1s;
          cursor: pointer;
          margin-right: 8px;
          transition:background-color 1s,color 1s;
      }
      .lata{
        
        display:flex;
        position:relative;
        flex-flow: column wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
           padding-top:1%;
      }
      .odata{
        padding: 15px 20px 0px;
        margin:0px;
      }
      .home-button:hover
      {
          
          border:none;
          color: black;
          background:white;
      }
  
      .home-button:active
      {
        opacity:0.8;
        border:none;
          color: black;
          background:white;
      }
  
      .projects-button:hover
      {
          border:none;
          color: black;
          background:white;
      }
      .projects-button:active
      {
        border:none;
          color: black;
          background:white;
          opacity:0.8;
      }
  
      .projects-button
      {
        background-color: black;
          color: white;
          height: 36px;
          border-color: white;
          width: 105px;
          border-radius: 30px;
          cursor: pointer;
          margin-right: 8px;
          transition: opacity 1s;
          cursor: pointer;
          margin-right: 8px;
          transition:background-color 1s,color 1s;
      }
      .Contactme-button
      {
        background-color: black;
          color: white;
          height: 36px;
          border-color: white;
          width: 105px;
          border-radius: 30px;
          cursor: pointer;
          margin-right: 8px;
          transition: opacity 1s;
          cursor: pointer;
          margin-right: 8px;
          transition:background-color 1s,color 1s;
          
      }
      .Contactme-button:hover
      {
        border:none;
          color: black;
          background:white;
      }
      .Contactme-button:active
      {
        opacity:0.8;
        border:none;
          color: black;
          background:white;
      }
      .write{
        font-size: 15px;
     padding: 10px 0px;
    margin: 0px;
    max-width: 500px;
    width: 100%;
    text-align: left;
      }
      .image{
        height:38px;
        width: 38px;
        cursor:pointer;
        padding:10px;
      }
      .github{
        height:38px;
        width: 38px;
        cursor:pointer;
        padding:10px;
        margin:none;
      }
      .images{
        display: flex;
        flex-flow: row wrap;
      }
      .tit{
        height:47px;
        width: 47px;
        cursor:pointer;
        padding:10px;
        margin:none;
      }
      .pad{
        padding-bottom:1%;
      }
      .hack{
        height:42px;
        width: 42px;
        cursor:pointer;
        padding:10px;
        margin:none;
      }
      .contactu{
        margin: 0;
        
        position: relative;
        padding: 30px 30px;
        padding-top: 3%;
        padding-bottom: 2%;
        display: flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        color: rgb(217, 217, 217);
        font-family: Quicksand,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
        top:70%;
        background-color:#050303;
        line-height: 15px;
  
      }
      .topu{
        margin: 0px;
        padding: 0px;
        font-size:34px;
      color:rgb(11, 243, 11);
      line-height: 1.6;
      }
    h2{
      padding-top: 1%;
      line-height:1.8;
      color:rgb(11, 243, 11);
      text-align: center;
    }
    .prop{
      color:#1e836c;
      text-align: center;
    }
    .message{
      
      background-color: black;
          color: rgb(0, 243, 0);
          height: 50px;
          border-color: rgb(0, 243, 0);
          width: 150px;
          border-radius: 30px;
          cursor: pointer;
          margin-right: 8px;
          transition: opacity 1s;
          cursor: pointer;
          margin-right: 8px;
          transition:background-color 1s,color 1s;
          font-size: 16px;
      }
  
      .message:hover
      {
          
          border:none;
          color: black;
          background:rgb(0, 243, 0);
      }
      h3{
        color:#228f74;
        font-size: 20px;
      }
      message:active
      {
        opacity:0.8;
        border:none;
          color: black;
          background:rgb(0, 243, 0);
      }
      .spatiu{
        padding-bottom: 2%;
        text-align: center;
      }
      .spat{
        text-align: center;
      }
      .skills{
           padding-top: 3%;
           padding-bottom: 5%;
           background-color: rgb(23 17 17 / 42%);
           display: flex;
        flex-flow: column wrap;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
      }
      .form{
        width:100%;
        height:100%;
      }
      .aliniere{
        display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 2%;
      }
      @media only screen and (max-width: 800px) {
        .logo{
          max-width: 50%;
          height: auto;
        }
      }
      @media only screen and (max-width: 380px) {
        .logo{
          max-width: 30%;
          height: auto;
        }
        .about{
          font-size: 10px;
        }
        h3{
          font-size: 14px;
        }
        .contactu{
          font-size: 16px;
        }
        h2{
          font-size: 18px;
          padding: 10px;
        }
        .topu{
          font-size:30px;
        }
        .aboutmesection{
          font-size:12px;
          padding:40px 40px;
        }
        .write{
          font-size:14px;
          padding-bottom: 17px;
        }
        .image{
          height: 34px;
          width: 34px;
        }
        .github{
          height: 34px;
    width: 34px;
        }
        .hack{
          height: 37px;
    width: 37px;
        }
     .section{
      padding-top: 24%;
      padding-bottom:21%;
     }
     .contactu{
      padding:45px 45px;
     }
     .spatiu{
      padding-bottom:5%
     }
     .rights{
      font-size: 15px;
     }
     .sestie{
      padding-top:14%;
     }
      }
